
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form id="login-form">
        <div class="row">
            <label for="username" class="column">Username</label>
            <input class="column" id="username-login" name="username" type="text" autocomplete="username" />
        </div>
        <div class="row">
            <label for="password" class="column">Password</label>
            <input class="column" id="password-login" name="password" type="password" autocomplete="password" />
        </div>
        <div class="row">
            <button id="login-button" type="submit">Sign in</button>
        </div>
        <div >
            <a href="/newuser" id="create-user-button">Don't have an account? Sign up here!</a>
        </div>
    </form>
  </div>
