
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form id="login-form">
        <div>
            <label for="username">Username</label>
            <input id="username-login" name="username" type="text" autocomplete="username" />
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password-login" name="password" type="password" autocomplete="password" />
        </div>
        <div>
            <button id="login-button" type="submit">Sign in</button>
        </div>
        <div>
            <a href="/api/profile" id="create-user-button">Don't have an account? Sign up here!</a>
        </div>
    </form>
  </div>
