<div class="login-card">
    <h2 class="page-title">Sign up for an account:</h2>
    <form class="form signup-form">
      <div class="form-group row">
        <label for="username-signup" class="column">Username:</label>
        <input class="form-input column" type="text" id="username-signup" />
      </div>
      <div class="form-group row">
        <label for="password-signup" class="column">Password:</label>
        <input class="form-input column" type="password" id="password-signup" />
      </div>
      <div class="form-group row">
        <label for="password-confirm" class="column">Confirm password:</label>
        <input class="form-input column" type="password" id="password-confirm" />
      </div>
      <div class="form-group row">
        <label for="email-signup" class="column">Email:</label>
        <input class="form-input column" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary signup" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="../js/createUser.js"></script>
